Repository contrailcirrus/pycontrails: changes, and which pre-commit hooks are due for each by the changed paths.
All: isort, black

isort:
  name: isort
  language_version: python3
  language: python
  entry: isort

black:
  name: black
  language_version: python3
  language: python
  entry: black

fix cocip logging; don't log when met is None in downselect
  pycontrails/core/models.py
  pycontrails/models/cocip/cocip.py
Due: isort, black

Documentation citation refresh
  docs/_static/pycontrails.bib
Due: none

include rhi and iwc in CocipGrid verbose outputs
  CHANGELOG.md
  pycontrails/core/vector.py
  pycontrails/models/cocipgrid/cocip_grid.py
  tests/unit/test_cocip_grid.py
  tests/unit/test_cocip_grid_parity.py
Due: isort, black

release(0.37.1): bump version
  pyproject.toml
Due: none

Add community-chat link to README
  README.md
Due: none

debug
  .github/workflows/benchmark.yml
Due: none

adjust show environment step
  .github/workflows/benchmark.yml
Due: none

include wheel as dev dependency
  pyproject.toml
Due: none

add root-reserve-mb
  .github/workflows/benchmark.yml
Due: none

include maximize-build-space action
  .github/workflows/benchmark.yml
  tests/benchmark/cocip/Makefile
Due: none

make pycontrails PEP 561 compliant
  pycontrails/py.typed
  pyproject.toml
Due: none

Tweeks configuration, but issues still exist
  pycontrails/models/accf.py
Due: isort, black

Adds gridded example to ACCF doc
  docs/examples/accf.ipynb
Due: black

Updates accf example notebook
  docs/examples/accf.ipynb
Due: black

Updates ACCF code to pass dimensions to xarray
  pycontrails/models/accf.py
Due: isort, black

Minor formating changes
  pycontrails/models/accf.py
Due: isort, black

Horizontal resolution automatically computed from grid
  docs/examples/accf.ipynb
  pycontrails/models/accf.py
Due: isort, black

Format changes
  pycontrails/models/accf.py
Due: isort, black

Update changelog
  CHANGELOG.md
Due: none

release(0.37.2): bump version
  pyproject.toml
Due: none

Reformat accf.ipynb
  docs/examples/accf.ipynb
Due: black

Abstract longitude shifting into its own function in the core.met module
  pycontrails/core/met.py
  tests/unit/test_met.py
Due: isort, black

Add documentation and citations to ISA calculations.
  docs/_static/pycontrails.bib
  pycontrails/physics/units.py
Due: isort, black

Add citations and improve style to constants
  pycontrails/physics/constants.py
Due: isort, black

Add make recipes for autoformatting
  .github/workflows/test.yml
  Makefile
Due: none

release(0.37.3): bump version
  pyproject.toml
Due: none

expore depth parameter in method to_polygon_feature
  pycontrails/core/met.py
Due: isort, black

consolidate three identical implementations of standardize_variables
  pycontrails/core/met.py
  pycontrails/datalib/ecmwf/__init__.py
  pycontrails/datalib/ecmwf/common.py
  pycontrails/datalib/ecmwf/ifs.py
  pycontrails/datalib/gfs/gfs.py
Due: isort, black

add warning when iso_value is None
  pycontrails/core/met.py
Due: isort, black

replace simplify_contour -> shapely.simplify in docstrings
  pycontrails/core/polygon.py
Due: isort, black

overhaul how polygons are simplified by using shapely.buffer
  pycontrails/core/met.py
  pycontrails/core/polygon.py
  tests/unit/test_met.py
  tests/unit/test_polygons.py
Due: isort, black

avoid unnecessary compute in find_contours_to_depth when depth==1
  pycontrails/core/polygon.py
Due: isort, black

fix doctest
  pycontrails/core/met.py
Due: isort, black

slightly tweak algorithm in _buffer_simplify_iterate
  pycontrails/core/met.py
  pycontrails/core/polygon.py
  tests/unit/test_met.py
Due: isort, black

update changelog
  CHANGELOG.md
  pycontrails/core/polygon.py
Due: isort, black

add convex_hull parameter to polygon algorithms and ensure multipolygons are disjoint
  pycontrails/core/met.py
  pycontrails/core/polygon.py
  tests/unit/test_polygons.py
Due: isort, black

update changelog
  CHANGELOG.md
Due: none

change the name of a few variables in polygons.py
  pycontrails/core/polygon.py
Due: isort, black

release(0.38.0): bump version
  pyproject.toml
Due: none

Path conditions:
  isort: any of: \.py$
  black: any of: \.(py|ipynb)$
