Repository contrailcirrus/pycontrails: changes, and which pre-commit hooks are due for each by the changed paths.
All: ruff, isort, black

.pre-commit-config.yaml:

repos:
- repo: local
  hooks:
  - id: ruff
    name: ruff
    language_version: python3
    language: python
    entry: ruff
    args: [--fix, --exit-non-zero-on-fix]
    types: [python]
  - id: isort
    name: isort
    language_version: python3
    language: python
    entry: isort
    types: [python]
  - id: black
    name: black
    language_version: python3
    language: python
    entry: black
    types: [file]
    files: \.(py|ipynb)$

update changelog for accf fix
  CHANGELOG.md
Due: none

commit precomputed quantiles
  pycontrails/models/humidity_scaling.py
  pycontrails/models/quantiles/era5-quantiles.pq
  pyproject.toml
Due: ruff, isort, black

ensure scaling humidity is nonnegative
  pycontrails/models/humidity_scaling.py
  tests/unit/test_humidity_scaling.py
Due: ruff, isort, black

fix names and titles for consistency
  docs/tutorials/interpolating-specific-humidity.ipynb
Due: black

run black
  docs/tutorials/interpolating-specific-humidity.ipynb
Due: black

BREAKING: remove the cache_size parameter from MetDataset.from_zarr
  pycontrails/core/met.py
  tests/unit/test_zarr.py
Due: ruff, isort, black

no longer overwrite existing data when call run_interpolators with explicit keys
  pycontrails/models/cocipgrid/cocip_grid.py
Due: ruff, isort, black

move humidity scaling into separate sub-directory within pycontrails/models
  pycontrails/models/humidity_scaling/__init__.py
  pycontrails/models/humidity_scaling/humidity_scaling.py
  pycontrails/models/humidity_scaling/quantiles/era5-quantiles.pq
  pycontrails/models/quantiles/era5_ensemble_quantiles.npy
  pycontrails/models/quantiles/iagos_quantiles.npy
  pyproject.toml
Due: ruff, isort, black

allow log(q) to be pre-computed when running with q_method='log-q-log-p'
  pycontrails/core/models.py
  pycontrails/models/humidity_scaling.py
  tests/unit/test_humidity_scaling.py
  tests/unit/test_interpolation.py
Due: ruff, isort, black

update tests
  tests/unit/test_humidity_scaling.py
  tests/unit/test_interpolation.py
Due: ruff, isort, black

update changelog
  CHANGELOG.md
  pycontrails/models/humidity_scaling.py
Due: ruff, isort, black

relax assert tolerance for numerical instability
  tests/unit/test_humidity_scaling.py
Due: ruff, isort, black

update CHANGELOG
  CHANGELOG.md
Due: none

refactor how experimental q_method is applied to avoid calling intersect_met if not needed
  pycontrails/core/models.py
  pycontrails/models/humidity_scaling.py
Due: ruff, isort, black

update docstring for VectorDataset.select
  pycontrails/core/vector.py
Due: ruff, isort, black

update docstring
  pycontrails/core/models.py
Due: ruff, isort, black

add notebook discussing interpolation methodologies
  docs/tutorials.rst
  docs/tutorials/interpolating-specific-humidity.ipynb
Due: black

fix tests
  pycontrails/models/humidity_scaling.py
  tests/unit/test_humidity_scaling.py
  tests/unit/test_models.py
Due: ruff, isort, black

pass in tuple instead of list
  pycontrails/models/cocipgrid/cocip_grid.py
Due: ruff, isort, black

fix a few easy sphinx issues
  pycontrails/models/cocip/contrail_properties.py
  pycontrails/models/cocip/radiative_forcing.py
  pycontrails/physics/geo.py
Due: ruff, isort, black

don't copy when calling VectorDataset.sum (np.concatenate already copies)
  pycontrails/core/vector.py
Due: ruff, isort, black

update humidity_scaling for different interpolation_q_method choices
  pycontrails/models/humidity_scaling.py
Due: ruff, isort, black

replace 'linear-q' with None for interpolation_q_method default value
  CHANGELOG.md
  pycontrails/core/models.py
  pycontrails/models/humidity_scaling.py
  tests/unit/test_humidity_scaling.py
  tests/unit/test_interpolation.py
  tests/unit/test_models.py
Due: ruff, isort, black

normalize eckel_a
  pycontrails/models/humidity_scaling.py
Due: ruff, isort, black

convert into to float when appropriate
  pycontrails/physics/thermo.py
Due: ruff, isort, black

add test for interpolation_q_method
  pycontrails/core/models.py
  tests/unit/test_interpolation.py
Due: ruff, isort, black

sibling commit to fe10a1d: avoid recompute interp_kwargs twice
  pycontrails/models/cocip/cocip.py
  pycontrails/models/cocipgrid/cocip_grid.py
Due: ruff, isort, black

raise consistent error for invalid q_method
  pycontrails/core/models.py
  pycontrails/datalib/gfs/gfs.py
  pycontrails/models/humidity_scaling.py
  tests/unit/test_interpolation.py
Due: ruff, isort, black

pin some values for the HistogramMatchingWithEckel humidity scaling model
  tests/unit/test_humidity_scaling.py
Due: ruff, isort, black

add experimental new interpolation_q_method
  pycontrails/core/models.py
  pycontrails/models/cocip/cocip.py
  pycontrails/models/cocipgrid/cocip_grid.py
Due: ruff, isort, black

update changelog
  CHANGELOG.md
Due: none

rename linear -> linear-q
  pycontrails/core/models.py
  pycontrails/models/cocip/cocip.py
Due: ruff, isort, black

hard code specific humidity lapse rate based on historic ERA5 reanalysis
  pycontrails/core/models.py
  tests/unit/test_interpolation.py
Due: ruff, isort, black

cosmetic: add some type hints
  tests/unit/test_interpolation.py
Due: ruff, isort, black

only publish to pypi if on main branch
  .github/workflows/release.yaml
Due: none

fix test
  tests/unit/test_humidity_scaling.py
Due: ruff, isort, black

100 -> 100.0
  pycontrails/core/vector.py
Due: ruff, isort, black

use timeout pytest marker in test_ecmwf to fail tests when dask bug encountered
  pyproject.toml
  tests/unit/test_ecmwf.py
Due: ruff, isort, black

make changelog headers consistent
  CHANGELOG.md
Due: none
