Repository contrailcirrus/pycontrails: changes, and which pre-commit hooks are due for each by the changed paths.
All: ruff, isort, black

ruff:
  name: ruff
  language_version: python3
  language: python
  entry: ruff
  args:
  - --fix
  - --exit-non-zero-on-fix

isort:
  name: isort
  language_version: python3
  language: python
  entry: isort

black:
  name: black
  language_version: python3
  language: python
  entry: black

Clean up syntax
  .github/workflows/test.yaml
Due: none

Remove nb-clean, re-run all notebooks, fix broken links
  .pre-commit-config.yaml
  Makefile
  docs/examples/ACCF.ipynb
  docs/examples/Cache.ipynb
  docs/examples/CoCiP.ipynb
  docs/examples/ECMWF.ipynb
  docs/examples/Flight.ipynb
  docs/examples/ISSR.ipynb
  docs/examples/Meteorology.ipynb
  docs/examples/SAC.ipynb
  docs/tutorials/CoCiP.ipynb
  pyproject.toml
Due: black

Add nbtest
  .github/workflows/nbtest.yaml
  Makefile
Due: none

Move pytest to the end
  .github/workflows/test.yaml
Due: none

Fix syntax error in nbtest
  .github/workflows/nbtest.yaml
Due: none

Fix name of notebook-test
  .github/workflows/nbtest.yaml
Due: none

Skip execution and nbval on HRES cells
  .github/workflows/nbtest.yaml
  docs/examples/ECMWF.ipynb
Due: black

Skip execution in cache directory, try to fix nbtest
  .github/workflows/nbtest.yaml
  docs/examples/Cache.ipynb
  tests/unit/test_bada.py
Due: ruff, isort, black

Try using gcp cache instead
  .github/workflows/docs.yaml
  .github/workflows/nbtest.yaml
Due: none

Attempting to put BADA into default location
  .github/workflows/nbtest.yaml
Due: none

Make local cache directory
  .github/workflows/nbtest.yaml
Due: none

Remove unnecessary sections from ECMWF notebook, create an ERA5 cache on GCP, rename nb-test to doc-test workflow and add doctests
  .github/workflows/docs.yaml
  .github/workflows/doctest.yaml
  .gitignore
  Makefile
  docs/examples/ECMWF.ipynb
Due: black

Skip two more cells in Cache notebook
  docs/examples/Cache.ipynb
Due: black

Add doctest to this action
  .github/workflows/doctest.yaml
Due: none

Add doctest to release workflow
  .github/workflows/doctest.yaml
  .github/workflows/release.yaml
Due: none

Ignore ext/ modules in doctest
  Makefile
Due: none

Only run docs on Release. This changes the previous paradigm. Execute notebooks in CI
  .github/workflows/docs.yaml
Due: none

Update RELEASE procedure
  RELEASE.md
Due: none

Add example workflow, add new check main status command
  .github/workflows/test-status.yaml
  Makefile
Due: none

Check status of workflow using API instead of re-running workflows before release
  .github/workflows/release.yaml
  .github/workflows/test-status.yaml
  Makefile
Due: none

Add note about release action
  RELEASE.md
Due: none

Revert docs execution, to be revisited
  .github/workflows/docs.yaml
  CHANGELOG.md
Due: none

Fix release workflow
  .github/workflows/release.yaml
Due: none

Fix docs action
  .github/workflows/docs.yaml
Due: none

Add description to Zenodo metadata; update PR template
  .github/pull_request_template.md
  .zenodo.json
Due: none

Fix CoCiP example notebook on pip install
  docs/examples/CoCiP.ipynb
Due: black

Fix pyproj.Geod breaking change in pyproj>=3.5
  pycontrails/utils/synthetic_flight.py
  pyproject.toml
Due: ruff, isort, black

Start preparing for #18, add link check
  Makefile
  pyproject.toml
Due: none

Update changelog
  CHANGELOG.md
Due: none

Copy edit CONTRIBUTING, update pycontrails.bib, and reference to Zotero Library
  CONTRIBUTING.md
  docs/_static/pycontrails.bib
  docs/literature.rst
Due: none

Update NOTICE
  NOTICE
Due: none

Update black_carbon.py
  pycontrails/models/emissions/black_carbon.py
Due: ruff, isort, black

Add ORCID id to zenodo reference
  .zenodo.json
Due: none

Add `geo.azimuth` function to calculate the azimuth between segments of points
  pycontrails/physics/geo.py
Due: ruff, isort, black

Fix azimuth equation, add bib references, clean up geo docstrings
  docs/_static/pycontrails.bib
  pycontrails/physics/geo.py
  tests/unit/test_geo.py
Due: ruff, isort, black

Fix link in docs
  docs/tutorials/CoCiP.ipynb
Due: black

Ensure float
  pycontrails/physics/geo.py
Due: ruff, isort, black

Update changelog with unreleased changes
  CHANGELOG.md
Due: none

Path conditions:
  ruff: any of: \.py$
  isort: any of: \.py$
  black: any of: \.(py|ipynb)$
