Repository contrailcirrus/pycontrails: changes, and which pre-commit hooks are due for each by the changed paths.
All: isort, black

.pre-commit-config.yaml:

repos:
- repo: local
  hooks:
  - id: isort
    name: isort
    language_version: python3 # Should be a command that runs python3.8+
    language: python
    entry: isort
    types: [python]
  - id: black
    name: black
    language_version: python3 # Should be a command that runs python3.8+
    language: python
    entry: black
    types: [file]
    files: \.(py|ipynb)$

Distill docs
  CONTRIBUTING.md
  docs/getting-started/install.rst
  docs/index.rst
  docs/reference/api.rst
  docs/reference/changelog.rst
  docs/reference/contributing.rst
  docs/reference/references.rst
  docs/tutorials/datalib.rst
  pyproject.toml
Due: none

Fix two citations
  docs/_static/pycontrails.bib
  pycontrails/physics/geo.py
  pycontrails/physics/jet.py
Due: isort, black

Remove extraneous license info, add to public API, add more metadata
  LICENSE
  pycontrails/__init__.py
  tests/unit/test_init.py
Due: isort, black

fix more flake8 issues
  pycontrails/datalib/gfs/gfs.py
  pycontrails/ext/bada/__init__.py
  pycontrails/models/cocip/contrail_properties.py
  pycontrails/models/cocip/radiative_heating.py
  pycontrails/physics/thermo.py
  pycontrails/utils/synthetic_flight.py
Due: isort, black

Simplify hierarchy of docs for now
  .gitignore
  docs/api.rst
  docs/changelog.rst
  docs/contributing.rst
  docs/examples.rst
  docs/examples/CoCiP.ipynb
  docs/examples/Flight.ipynb
  docs/examples/ISSR.ipynb
  docs/examples/Meteorology.ipynb
  docs/examples/SAC.ipynb
  docs/examples/accf.ipynb
  docs/examples/cache.ipynb
  docs/examples/ecmwf.ipynb
  docs/examples/flight.csv
  docs/getting-started/overview.rst
  docs/index.rst
  docs/install.rst
  docs/literature.rst
  docs/tutorials/data.rst
  docs/tutorials/datalib.rst
  docs/tutorials/models.rst
  docs/tutorials/notebooks/CocipGrid.ipynb
  docs/tutorials/notebooks/README.md
Due: black

Update contributing and docs readme
  CONTRIBUTING.md
  docs/README.md
Due: none

fix flake8 issues in cocip/output
  pycontrails/models/cocip/output/flight_summary.py
  pycontrails/models/cocip/output/grid_cirrus.py
Due: isort, black

Fix formatting in multiple files
  pycontrails/datalib/ecmwf/ifs.py
  pycontrails/datalib/ecmwf/variables.py
  pycontrails/datalib/gfs/gfs.py
  pycontrails/ext/bada/__init__.py
  pycontrails/ext/cirium/__init__.py
Due: isort, black

Finish CONTRIBUTING and install docs. Remove old docs README. Add doc8 rst linter. Add pycontrails[complete] optional dependency.
  .gitignore
  CONTRIBUTING.md
  Makefile
  README.md
  docs/README.md
  docs/getting-started/install.rst
  docs/index.rst
  docs/reference/api.rst
  pyproject.toml
Due: none

Fix formatting in HRES
  pycontrails/datalib/ecmwf/hres.py
Due: isort, black

Copy editing, fixes
  docs/examples.rst
  docs/index.rst
  docs/install.rst
Due: none

Fix changelog/contributing links
  docs/changelog.rst
  docs/contributing.rst
  docs/index.rst
Due: none

Fix intersphinx mappings
  docs/conf.py
  pyproject.toml
Due: isort, black

Fix a few more flake8 -> ruff
  .github/workflows/test.yaml
  Makefile
  pyproject.toml
Due: none

Cleanup pip-install
  Makefile
Due: none

Add Tutorials page that should be for slightly more refined contained examples.
  docs/examples.rst
  docs/index.rst
  docs/tutorials.rst
  docs/tutorials/CoCiP.ipynb
  docs/tutorials/flight.csv
  pycontrails/core/vector.py
  pycontrails/models/accf.py
Due: isort, black

Replace flake8 with ruff
  .flake8
  .pre-commit-config.yaml
  Makefile
  pycontrails/core/datalib.py
  pycontrails/core/met.py
  pycontrails/core/met_var.py
  pycontrails/core/vector.py
  pycontrails/datalib/gfs/gfs.py
  pycontrails/models/cocip/cocip.py
  pycontrails/models/cocip/contrail_properties.py
  pycontrails/physics/geo.py
  pyproject.toml
  tests/unit/test_init.py
Due: isort, black

Convert theme to furo https://pradyunsg.me/furo/
  CONTRIBUTING.md
  docs/_static/css/style.css
  docs/_static/img/logo.jpg
  docs/conf.py
  docs/index.rst
  pyproject.toml
Due: isort, black

Add links to test utilities
  docs/develop.rst
Due: none

Fix #25
  pycontrails/models/emissions/emissions.py
Due: isort, black

Add extra folder to clean command
  Makefile
Due: none

Update notebook names
  docs/examples/ACCF.ipynb
  docs/examples/Cache.ipynb
  docs/examples/CoCiP.ipynb
  docs/examples/ECMWF.ipynb
  docs/examples/Flight.ipynb
  docs/examples/ISSR.ipynb
  docs/examples/Meteorology.ipynb
  docs/examples/SAC.ipynb
Due: black

This syntax only works in python 3.10
  pycontrails/__init__.py
Due: isort, black

Fix .[bada] references
  .github/workflows/benchmark.yaml
  .github/workflows/test.yaml
  pycontrails/ext/bada/__init__.py
  pycontrails/models/cocipgrid/cocip_grid.py
  pycontrails/models/cocipgrid/cocip_grid_params.py
  pycontrails/utils/synthetic_flight.py
Due: isort, black

Fix .[cirium] references
  pycontrails/ext/cirium/__init__.py
Due: isort, black

Ignore ACCF notebook during nbtest
  Makefile
Due: none

Update pre-commit config
  .pre-commit-config.yaml
Due: none

Add nb-clean with pre-commit hook
  Makefile
  docs/examples/ACCF.ipynb
  docs/examples/Cache.ipynb
  docs/examples/CoCiP.ipynb
  docs/examples/ECMWF.ipynb
  docs/examples/Flight.ipynb
  docs/examples/ISSR.ipynb
  docs/examples/Meteorology.ipynb
  docs/examples/SAC.ipynb
  pyproject.toml
Due: black

Fix unit test
  tests/unit/test_init.py
Due: isort, black

Fix nb-clean dep
  Makefile
  pyproject.toml
Due: none

Add doc8 pre-commit hook
  .pre-commit-config.yaml
Due: none

Update changelog
  CHANGELOG.md
Due: none

Continue cleaning up documentation
  CHANGELOG.md
  CONTRIBUTING.md
  docs/develop.rst
  docs/examples/Meteorology.ipynb
  docs/literature.rst
Due: black

release(0.39.0): bump version
  pyproject.toml
Due: none

Turn off benchmark tests on tags, fix docs build
  .github/workflows/benchmark.yaml
  .github/workflows/docs.yaml
Due: none

manage pycontrails version with setuptools_scm
  .gitignore
  pycontrails/__init__.py
  pyproject.toml
Due: isort, black

describe setuptools-scm handling of package finding
  pyproject.toml
Due: none

remove try...except it setting __version__
  pycontrails/__init__.py
Due: isort, black

fix link to changelog
  pyproject.toml
Due: none

fix testpypi-release workflow
  .github/workflows/testpypi-release.yaml
Due: none
