Repository contrailcirrus/pycontrails: changes, and which pre-commit hooks are due for each by the changed paths.
All: ruff, isort, black

ruff:
  name: ruff
  language_version: python3
  language: python
  entry: ruff
  args:
  - --fix
  - --exit-non-zero-on-fix

isort:
  name: isort
  language_version: python3
  language: python
  entry: isort

black:
  name: black
  language_version: python3
  language: python
  entry: black

allow for manual trigger of release workflow for pypi testing
  .github/workflows/release.yaml
Due: none

BUGFIX: fix polygon edge case with the fully_connected parameter
  CHANGELOG.md
  pycontrails/core/polygon.py
  tests/unit/test_polygons.py
Due: ruff, isort, black

fix hardcoded posix path for windows compatibility
  tests/unit/conftest.py
Due: ruff, isort, black

cosmetic changes; no runtime changes
  pycontrails/datalib/ecmwf/era5.py
  pycontrails/datalib/ecmwf/hres.py
  pycontrails/utils/temp.py
  tests/unit/conftest.py
Due: ruff, isort, black

flatten logic in _open_and_cache
  pycontrails/datalib/ecmwf/era5.py
  pycontrails/datalib/ecmwf/hres.py
Due: ruff, isort, black

split long unit test into three subtests for easier debugging
  tests/unit/test_ecmwf.py
Due: ruff, isort, black

handle PermissionError issued by shutil.copy; remove f string from logger messages
  pycontrails/core/cache.py
Due: ruff, isort, black

skip cocip grid test if BADA not available
  tests/unit/test_cocip_grid.py
Due: ruff, isort, black

fix some old vector tests not fully passing on windows
  tests/unit/test_vector.py
Due: ruff, isort, black

update changelog
  CHANGELOG.md
Due: none

change Path.glob("**/*") to Path.rglob("*")
  pycontrails/core/cache.py
Due: ruff, isort, black

change _load from a class method to a function; rename self to cls in load class methods
  pycontrails/core/met.py
Due: ruff, isort, black

allow cachestore=None in ERA5, HRES, and GFS
  pycontrails/datalib/ecmwf/era5.py
  pycontrails/datalib/ecmwf/hres.py
  pycontrails/datalib/gfs/gfs.py
Due: ruff, isort, black

bolster tests for cachestore=None
  tests/unit/test_ecmwf.py
Due: ruff, isort, black

update CHANGELOG
  CHANGELOG.md
Due: none

try to fix release workflow by wrapping if condition with curly brackets
  .github/workflows/release.yaml
Due: none

Update CoCiP.ipynb example references
  docs/examples/CoCiP.ipynb
Due: black

Enable citation anchors
  docs/conf.py
Due: ruff, isort, black

more debugging cibuildwheel tests
  .github/workflows/release.yaml
Due: none

debug cibuildwheel testing
  .github/workflows/release.yaml
Due: none

if every point is in bounds, set out_of_bounds = None
  pycontrails/core/interpolation.py
Due: ruff, isort, black

fix remaining unit tests
  tests/unit/test_met.py
  tests/unit/test_models.py
  tests/unit/test_sac_issr.py
Due: ruff, isort, black

try removing pycontrails source when running unit tests
  .github/workflows/release.yaml
  tests/unit/test_cache.py
Due: ruff, isort, black

overhaul interpolation unit tests for breaking changes
  tests/unit/test_interpolation.py
Due: ruff, isort, black

fix cocip tests for changes in interpolation precision
  tests/unit/test_cocip.py
  tests/unit/test_cocip_grid.py
Due: ruff, isort, black

BREAKING: automatically promote coordinate dtype to float64; small cleanup and performance improvements
  pycontrails/core/met.py
Due: ruff, isort, black

Path conditions:
  ruff: any of: \.py$
  isort: any of: \.py$
  black: any of: \.(py|ipynb)$
