Repository contrailcirrus/pycontrails: changes, and which pre-commit hooks are due for each by the changed paths.
All: ruff, isort, black

ruff:
  name: ruff
  language_version: python3
  language: python
  entry: ruff
  args:
  - --fix
  - --exit-non-zero-on-fix

isort:
  name: isort
  language_version: python3
  language: python
  entry: isort

black:
  name: black
  language_version: python3
  language: python
  entry: black

DEBUG: test workflow
  .github/workflows/test.yaml
Due: none

remove nogil
  pycontrails/core/rgi_cython.pyx
  setup.py
Due: ruff, isort, black

fix doctest for xarray 2023.04
  pycontrails/core/met.py
Due: ruff, isort, black

fix remaining unit tests
  tests/unit/test_met.py
  tests/unit/test_models.py
  tests/unit/test_sac_issr.py
Due: ruff, isort, black

DEBUG: see what goes wrong installing pycontrails-bada
  .github/workflows/test.yaml
Due: none

more debugging cibuildwheel tests
  .github/workflows/release.yaml
Due: none

Update Flight.ipynb
  docs/examples/Flight.ipynb
Due: black

publish to pypi if github.event_name == 'release'
  .github/workflows/release.yaml
Due: none

Add required met variable keys to Cocip docs, Closes #12
  pycontrails/core/models.py
  pycontrails/models/cocip/cocip.py
Due: ruff, isort, black

Add more helpful error message on MetDataset creation for single level datasets
  pycontrails/core/met.py
Due: ruff, isort, black

Allow CDS/MARS credentials to be provided at init
  docs/examples/ECMWF.ipynb
  pycontrails/datalib/ecmwf/era5.py
  pycontrails/datalib/ecmwf/hres.py
Due: ruff, isort, black

Add additional references to Cocip model
  docs/_static/pycontrails.bib
  pycontrails/models/cocip/cocip.py
Due: ruff, isort, black

prototype using oldest-support-numpy build dependency
  pyproject.toml
Due: none

update changelog
  CHANGELOG.md
Due: none

run pytest verbosely in workflows
  .github/workflows/release.yaml
  .github/workflows/test.yaml
Due: none

load data into memory as a workaround for test that occassionally hangs
  tests/unit/test_dtypes.py
Due: ruff, isort, black

elevate if condition from step to job
  .github/workflows/release.yaml
Due: none

Static files and skeleton structure
  pycontrails/models/ps_model/__init__.py
  pycontrails/models/ps_model/ps_model.py
  pycontrails/models/ps_model/static/ps-aircraft-params-20230424.csv
Due: ruff, isort, black

Atmospheric and aircraft trajectory parameters
  pycontrails/models/ps_model/aircraft_params.py
  pycontrails/models/ps_model/ps_model.py
  pycontrails/physics/jet.py
Due: ruff, isort, black

Extract aircraft-engine parameters - Phase 1
  pycontrails/models/ps_model/aircraft_params.py
  pycontrails/models/ps_model/ps_model.py
Due: ruff, isort, black

Extract aircraft-engine parameters
  pycontrails/models/ps_model/aircraft_params.py
  pycontrails/models/ps_model/ps_model.py
Due: ruff, isort, black

Aircraft performance parameters
  pycontrails/models/ps_model/aircraft_params.py
  pycontrails/models/ps_model/ps_model.py
  pycontrails/models/ps_model/static/ps-aircraft-params-20230424.csv
Due: ruff, isort, black

Read and update static files
  pycontrails/models/ps_model/aircraft_params.py
  pycontrails/models/ps_model/ps_model.py
  pycontrails/models/ps_model/static/ps-aircraft-params-20230424.csv
  pycontrails/models/ps_model/static/ps-aircraft-params-20230425.csv
Due: ruff, isort, black

Engine parameters and fuel consumption
  pycontrails/models/ps_model/ps_model.py
  pycontrails/physics/jet.py
Due: ruff, isort, black

Incorporate Ian comments
  pycontrails/models/ps_model/aircraft_params.py
  pycontrails/models/ps_model/ps_model.py
Due: ruff, isort, black

Link up individual functions
  pycontrails/models/ps_model/ps_model.py
Due: ruff, isort, black

compute polygons with opencv instead of scikit-image
  pycontrails/core/met.py
  pycontrails/core/polygon.py
  pyproject.toml
  tests/unit/test_met.py
  tests/unit/test_polygons.py
Due: ruff, isort, black

no longer pad array before computing polygons
  pycontrails/core/met.py
  pycontrails/core/polygon.py
  tests/unit/test_polygons.py
Due: ruff, isort, black

convert contours to latitude longitude earlier in algorithm
  pycontrails/core/met.py
  pycontrails/core/polygon.py
  tests/unit/test_polygons.py
Due: ruff, isort, black

fix unit tests
  CHANGELOG.md
  pycontrails/core/met.py
  pycontrails/core/polygon.py
  tests/unit/test_met.py
  tests/unit/test_polygons.py
Due: ruff, isort, black

fix LinearRing Polygon type
  pycontrails/core/polygon.py
Due: ruff, isort, black

Unit tests and bug fix
  pycontrails/models/aircraft_performance.py
  pycontrails/models/ps_model/aircraft_params.py
  pycontrails/models/ps_model/ps_model.py
  tests/unit/test_ps_model.py
Due: ruff, isort, black

Path conditions:
  ruff: any of: \.py$
  isort: any of: \.py$
  black: any of: \.(py|ipynb)$
